<div class="root">


  <div class="label">
    <span class="name">推荐关注</span>
    <a href="javascript:void(0)" class="modify">刷新</a>
    <a href="javascript:void(0)" class="modify">查看全部</a>
  </div>

  <div class="trend-list">
    <div class="trend-list-item">
      <div class="img-circle fm-flex-shrink">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
      <div class="fm-p-l-10 fm-flex-grow">
        <div class="fm-flex-row fm-p-b-5">
          <div class="fm-flex-grow ">
            <div class="fm-flex-row fm-font-size-12 fm-line-1 fm-w-140">
              <div class="fm-content-strong">
                <strong>MediumMediumMediumMediumMediumMediumMediumMedium</strong>
                <span class="fm-color-gray">@Medium</span>
              </div>
            </div>

          </div>
          <div class="fm-flex-shrink">
            <span class="iconfont icon-close fm-color-gray-light"></span>
          </div>
        </div>
        <div>
          <input type="button" value="关注" class="fm-btn outline fm-w-80">
        </div>
      </div>
    </div>

    <div class="trend-list-item">
      <div class="img-circle fm-flex-shrink">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
      <div class="fm-p-l-10 fm-flex-grow">
        <div class="fm-flex-row fm-p-b-5">
          <div class="fm-flex-grow">
            <div class="fm-flex-row fm-font-size-12 fm-line-1 fm-w-140">
              <div class="fm-content-strong fm-is-authentication">
                <strong>Medium</strong>
                <span class="fm-color-gray">@Medium</span>
              </div>
            </div>
          </div>
          <div class="fm-flex-shrink">
            <span class="iconfont icon-close fm-color-gray-light"></span>
          </div>
        </div>
        <div>
          <input type="button" value="关注" class="fm-btn outline fm-w-80">
        </div>
      </div>
    </div>


    <div class="trend-list-item">
      <div class="img-circle fm-flex-shrink">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
      <div class="fm-p-l-10 fm-flex-grow">
        <div class="fm-flex-row fm-p-b-5">
          <div class="fm-flex-grow">
            <div class="fm-flex-row fm-font-size-12 fm-line-1 fm-w-140">
              <div class="fm-content-strong fm-is-authentication">
                <strong>Medium</strong>
                <span class="fm-color-gray">@Medium</span>
              </div>
            </div>
          </div>
          <div class="fm-flex-shrink">
            <span class="iconfont icon-close fm-color-gray-light"></span>
          </div>
        </div>
        <div>
          <input type="button" value="关注" class="fm-btn outline fm-w-80">
        </div>
      </div>
    </div>

  </div>

  <div class="fm-p-a-10 fm-border-t-gray-light fm-flex-row fm-align-items-center">
    <span class="iconfont icon-group fm-font-size-18 fm-color-blue"></span>
    <a class="fm-p-h-5 fm-font-size-10 fm-color-blue">寻找你认识的人</a>
  </div>
</div>
