<div class="root fm-flex-row fm-p-a-10">


  <div class="fm-flex-shrink fm-p-r-10">
    <div class="fm-img-circle">
      <img src="/assets/imgs/user01.png" alt="">
    </div>
  </div>

  <div class="fm-flex-grow">

    <div class="fm-font-size-12 fm-flex-row">
      <div class="fm-content-strong fm-is-authentication">
        <strong>MIT Technology Review</strong>
        <span class="fm-color-gray">@techreview</span>
      </div>
      <span class="time-gone">18分</span>
    </div>
    <div>
      <span class="fm-font-size-10">A quarter of a century of spam on the Internet: this is how spam was born (Sponsored by
        <span class="fm-content-link fm-content-before-at">bbvaOpenMind</span> )
        <span class="fm-content-link">https://trib.al/YLgX6q9</span></span>
    </div>
    <div>
      <span class="translate-it fm-font-size-10">翻译推文</span>
    </div>
    <div class="fm-p-v-10">
      <div class="img-ref">
        <img src="/assets/imgs/img-temp01.jpg" alt="">
      </div>
    </div>
    <div class="opts">
      <div class="opt">
        <span class="iconfont icon-talk"></span>
        <span class="fm-p-h-5">1</span>
      </div>
      <div class="opt">
        <span class="iconfont icon-retweet"></span>
        <span class="fm-p-h-5">1</span>
      </div>
      <div class="opt">
        <span class="iconfont icon-aui-icon-like"></span>
        <span class="fm-p-h-5">287</span>
      </div>
      <div class="opt">
        <span class="iconfont icon-mail"></span>
        <span class="fm-p-h-5">1</span>
      </div>
    </div>
  </div>
</div>
