<div class="root">

  <div class="header">
    <div class="header-container">
      <ul>
        <li>
          <a routerLink="/" class="no-underline">
            <span class="iconfont icon-twitter fm-font-size-18 fm-color-blue"></span>
          </a>
        </li>
        <li>
          <div class="btn-search-from-twitter">
            <input type="text" placeholder="搜索 Twitter" class="fm-no-border">
          </div>
        </li>
      </ul>
      <div class="fm-flex-row fm-align-items-center fm-h-per-100">
        <input type="button" value="登录" class="fm-btn outline fm-m-r-10">
        <input type="button" value="注册" class="fm-btn normal fm-m-r-10" (click)="btnSignUp()">
        <div class="fm-h-per-100 fm-flex-row fm-align-items-center fm-tappable">
          <span class="iconfont icon-cc-more-vertical-o fm-font-size-18 fm-color-blue"></span>
        </div>
      </div>
    </div>

  </div>

  <div class="body">
  </div>


</div>
