@import "~src/styles/colors";

.root {
  width: 105rem;
  display: flex;
  flex-flow: row nowrap;

  .root-left {
    flex-shrink: 0;
    width: 25rem;
    padding-right: 1rem;
  }

  .root-center {
    flex-grow: 1;
  }

  .root-right {
    flex-shrink: 0;
    width: 25rem;
    padding-left: 1rem;
  }

}
