<div class="root">


  <div class="label">
    <span class="name">东京趋势</span>
    <a href="javascript:void(0)" class="modify">更改</a>
  </div>

  <div class="trend-list">
    <div class="trend-list-item" attr-count="2.44万 推文">
      <span class="name">#annkw</span>
    </div>
    <div class="trend-list-item" attr-count="1.47万 推文">
      <span class="name">#声優ぷらす</span>
    </div>
    <div class="trend-list-item" attr-count="2.69万 推文">
      <span class="name">#俺のスカートどこ行った</span>
    </div>
    <div class="trend-list-item" attr-count="3.15万 推文" >
      <span class="name">平手打ち</span>
    </div>
    <div class="trend-list-item">
      <span class="name">#トムブラウンann0</span>
    </div>
    <div class="trend-list-item" attr-count="2,584 推文">
      <span class="name">弘中アナ</span>
    </div>
    <div class="trend-list-item" attr-count="5,285 推文">
      <span class="name">#あなたの人生を3文字で表すと</span>
    </div>
    <div class="trend-list-item" attr-count="7,140 推文">
      <span class="name">CDTV</span>
    </div>
    <div class="trend-list-item" attr-count="1,020 推文">
      <span class="name">オードリーのANN</span>
    </div>
    <div class="trend-list-item">
      <span class="name">クロスアンジュ</span>
    </div>

  </div>
</div>
