<div class="root">

  <div class="type follow-u" [ngClass]="typeMaps[typekey]">
  </div>
  <div class="container">
    <div class="users">
      <div class="fm-img-circle">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
      <div class="fm-img-circle">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
      <div class="fm-img-circle">
        <img src="/assets/imgs/user01.png" alt="">
      </div>
    </div>
    <div class="content">
      <div>
        <strong>Addy Osmani</strong>及另外 2 人关注了 <strong>Alex Russell</strong>、<strong>Alex Russell</strong>、<strong>Alex
        Russell</strong>
        <span class="time-gone">16小时</span>
      </div>
    </div>
  </div>
  <div class="opts">
    <span class="iconfont icon-arrowdown fm-font-size-12 fm-color-gray"></span>
  </div>
</div>
