<div class="root">
  <div class="fm-flex-grow fm-flex-row">
    <div class="container-left">
      <div class="fm-font-size-14 fm-font-bolder fm-color-white fm-p-t-100">
        <div class="fm-p-a-15">
          <span class="iconfont icon-find fm-font-size-20"></span>
          关注你的兴趣所在。
        </div>
        <div class="fm-p-a-15">
          <span class="iconfont icon-group fm-font-size-20"></span>
          听听大家在谈论什么。
        </div>
        <div class="fm-p-a-15">
          <span class="iconfont icon-talk fm-font-size-20"></span>
          加入对话。
        </div>
      </div>
    </div>
    <div class="container-right">

      <div class="fm-flex-shrink fm-h-100">
        <div class="user-inputs">


          <div class="fm-flex-row fm-align-items-stretch">
            <input type="text" placeholder="手机、邮件地址或用户名">
            <input type="password" placeholder="密码">

            <input type="button" class="fm-btn big outline" value="登录">
          </div>
          <div>
            <a href="javascript:void(0);" class="forget-pwd">忘记密码？</a>
          </div>
        </div>
      </div>

      <div class="fm-flex-grow fm-flex-column fm-justify-content-center">
        <div class="user-ops fm-w-240">
          <div>
            <span class="iconfont icon-twitter fm-font-size-36 fm-color-blue"></span>
          </div>
          <div class="fm-font-size-24 fm-font-bolder fm-p-v-5">
            看看世界上的新鲜事
          </div>
          <div class="fm-font-size-16 fm-font-bolder fm-p-v-10 fm-m-t-20">
            现在就加入 Twitter。
          </div>
          <div class="fm-w-200" clickAble>
            <input type="button" value="注册" class="fm-btn big normal btn-sign-up" (click)="btnGotoSignUpPage()">
          </div>
          <div  class="fm-w-200" clickAble>
            <input type="button" value="登录" class="fm-btn big outline btn-sign-in" (click)="btnGotoSignIn2Page()">
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="fm-flex-shrink">
    <ul class="footer-keys">
      <li class="footer-key"><a href="javascript:void(0);">关于</a></li>
      <li class="footer-key"><a href="https://support.twitter.com">帮助中心</a></li>
      <li class="footer-key"><a href="https://blog.twitter.com">博客</a></li>
      <li class="footer-key"><a href="http://status.twitter.com">状态</a></li>
      <li class="footer-key"><a href="https://about.twitter.com/careers">工作机会</a></li>
      <li class="footer-key"><a href="javascript:void(0)">条款</a></li>
      <li class="footer-key"><a href="javascript:void(0)">隐私政策</a></li>
      <li class="footer-key"><a href="https://support.twitter.com/articles/20170514">Cookies</a></li>
      <li class="footer-key"><a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html">广告信息</a>
      </li>
      <li class="footer-key"><a href="https://about.twitter.com/press/brand-assets">商标</a></li>
      <li class="footer-key"><a href="https://about.twitter.com/products">应用</a></li>
      <li class="footer-key"><a href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-advertise">广告</a></li>
      <li class="footer-key"><a href="https://marketing.twitter.com">市场营销</a></li>
      <li class="footer-key"><a href="https://business.twitter.com">企业</a></li>
      <li class="footer-key"><a href="https://developer.twitter.com">开发者</a></li>
      <li class="footer-key"><a href="https://twitter.com/i/directory/profiles">目录</a></li>
      <li class="footer-key"><a href="javascript:void(0)">设置</a></li>
      <li class="footer-key">© 2019 Twitter</li>
    </ul>
  </div>
</div>
