<div class="root">
  <div class="fm-h-75 fm-flex-row fm-align-items-center fm-no-overflow">
    <img class="fm-w-per-100" src="/assets/imgs/banner01.jpg" alt="">
  </div>
  <div class="profile-container">

    <div class="img-circle">
      <img src="/assets/imgs/user01.png" alt="">
    </div>

    <div class="profile">
       <a class="name">Garfield.Demo</a>
       <a class="account-name">@garfield</a>
    </div>

  </div>
  <div class="user-states">
    <div class="state" attr-label="推文"> 337 </div>
    <div class="state" attr-label="正在关注"> 377 </div>
    <div class="state" attr-label="关注者"> 74 </div>
  </div>

</div>
