<div class="root">
  <div class="header">
    <div class="label">
      第1步，共4步
    </div>
    <div>
      <input type="button" value="下一步" class="fm-btn normal disabled">
    </div>
  </div>
  <div class="body">
    <div class="title">
      创建您的账号
    </div>
    <div class="form-field">
      <div class="field-label">
        名字
      </div>
      <div class="field-input">
        <input type="text" [ngModel]="name">
      </div>
      <div class="field-desc">
        <div></div>
        <div class="count">0/50</div>
      </div>
    </div>
    <div class="form-field">
      <div class="field-label">
        手机
      </div>
      <div class="field-input">
        <input type="tel">
      </div>
      <div class="field-desc">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="fm-flex-row">
      <span class="fm-cursor-pointer-text-blue fm-font-size-12">改用电子邮件</span>
    </div>
  </div>
</div>
