@import "~src/styles/colors";

.root {
  width: 50rem;
  height: 50rem;
  padding: 1rem;
  border-radius: 1rem;
  background: map_get($colors, 'white');
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .label {
    font-size: 1.6rem;
    font-weight: bolder;
  }
}

.body {
  padding: 2rem;

  .title {
    font-size: 1.6rem;
    font-weight: bolder;
  }

  .form-field {
    margin: 2rem 0;

    .field-label {
      font-size: 1.2rem;
      color: map_get($colors, 'gray');
      background: map_get($colors, 'light');
      padding: 0.5rem 1rem;
    }

    .field-input {
      display: flex;

      > input {
        background: map_get($colors, 'light');
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        border-bottom: 0.2rem solid map_get($colors, 'gray-dark');
      }

    }

    &:focus, &:focus-within {
      .field-label {
        color: map_get($colors, 'blue');
      }

      .field-input > input {
        border-bottom: 0.2rem solid map_get($colors, 'blue');
      }
    }

    .field-desc {
      display: flex;
      justify-content: space-between;

      .count {
        padding: 0.5rem;
        font-size: 1.2rem;
        color: map_get($colors, 'gray')
      }
    }
  }
}
