<div>

  <div>
    <app-notifications-all-item typekey="followU"></app-notifications-all-item>
    <app-notifications-all-item typekey="follow"></app-notifications-all-item>
    <app-notifications-all-item typekey="like"></app-notifications-all-item>
    <app-notifications-all-item typekey="ret"></app-notifications-all-item>
  </div>

  <div class="fm-text-center fm-p-a-10">
    <div class="iconfont icon-twitter fm-font-size-18 fm-p-b-5">
    </div>
    <div>
      <a href="javascript:void(0)" class="fm-font-size-10">回到顶部 ↑  </a>
    </div>
  </div>
</div>
