<div class="root">

  <div class="header">
    <div class="header-container">
      <ul>
        <li>
          <a href="javascript:void(0)" routerLink="/">
            <span class="iconfont icon-twitter fm-font-size-16 fm-color-blue"></span>
            <span class="name" clickAble>主页</span>
          </a>

        </li>
        <li>
          <a href="javascript:void(0)">
            <span class="name"> 关于</span>
          </a>

        </li>
      </ul>

      <div>
        <a href="javascript:void(0)">
          <span class="label">语言:</span>
          <span class="current-location">简体中文</span>
          <span class="iconfont icon-arrowdown fm-font-size-10"></span>
        </a>


      </div>
    </div>

  </div>

  <div class="body">
    <div class="sign-in-card">
      <div class="card-container">
        <h2>登录Twitter</h2>
        <div class="user-inputs">
          <input type="text" placeholder="手机、邮件地址或用户名">
          <input type="password" placeholder="密码">

        </div>
        <div class="fm-flex-row fm-align-items-center">
          <div clickAble>
            <input type="button" class="fm-btn big normal" value="登录" (click)="btnSignIn()">
          </div>
          <span class="fm-font-size-12 fm-color-gray fm-m-l-10 fm-no-select ">
            <input id="remember-me" type="checkbox" class="fm-cursor-pointer"> <label for="remember-me"
                                                                                      class="fm-p-l-2 fm-cursor-pointer">记住我</label>
          </span>

          <a href="javascript:void(0);" class="fm-m-l-10 fm-font-size-12 fm-cursor-pointer-text-blue">忘记密码？</a>
        </div>

      </div>
      <div class="card-footer">
        <p>
          首次使用 Twitter 吗？
          <a href="javascript:void(0)" class="fm-m-l-10 fm-font-size-12 fm-cursor-pointer-text-blue">现在注册 »</a>
        </p>
        <p>
          已经在通过短信使用 Twitter?
          <a href="javascript:void(0)" class="fm-m-l-10 fm-font-size-12 fm-cursor-pointer-text-blue">激活你的账号 »</a>
        </p>
      </div>
    </div>
  </div>

</div>
