<div class="root">
  <div class="root-left">
    <div class="fm-p-b-10">
      <app-user-info></app-user-info>
    </div>
    <div class="fm-p-b-10">
      <app-hot-trend></app-hot-trend>
    </div>
  </div>
  <div class="root-center">
    <div>
      <app-add-new-twitter></app-add-new-twitter>
    </div>
    <div class="btn-show-more-twitter">
      查看新推文
    </div>
    <div>
      <app-twitter-list></app-twitter-list>
    </div>
  </div>

  <div class="root-right">
    <div class="fm-p-b-10">
      <app-new-features></app-new-features>
    </div>
    <div class="fm-p-b-10">
      <app-user-recommend></app-user-recommend>
    </div>
    <div class="fm-p-b-10">
      <app-ad></app-ad>
    </div>
  </div>
</div>
